{%  extends "ProyectoPaginaApp/base.html" %}
{% load static %}
{% block content %}

<section>
  <div style="width: 75%; margin: auto; text-align: center; color: white; margin-top: 50px; font-size: larger;">
    Categorias:
    {% for servicio in variable_servicios %}
      {% for categoria in servicio.categorias.all %}
      &nbsp; <a href="{% url 'categoria' categoria.id %}" class="linkscategorias"> {{categoria.nombre}} </a>
      {% endfor %}
    {% endfor %}
  </div>
</section>

    {% for servicio in variable_servicios %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" alt="" style="width: 400px; height: 400px; margin-left: 250px;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower">{{servicio.titulo}}</span>
                <span class="section-heading-upper">{{servicio.contenido}}</span>
              </h2>
              <div style="text-align: left;">Valor ${{servicio.precio}}.-</div>
            </div>
          </div>
        </div>
      </section>

    {% endfor %}

{% endblock %}